  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">
  <span class="glyphicon glyphicon-copyright-mark"></span> 
  Copyright:
    <a href="mailto:soorichu@gmail.com"> soorichu@gmail.com</a>
    &nbsp;
    <wbr>
    <span class="glyphicon glyphicon-cloud-upload"></span> 
    Data Update: 
    <span id="update">2020-02-10 : 15:35</span>
  </div>
  <!-- Copyright -->