<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="https://coronapp.site/" style="display:none" id="logo"><img src="./img/coronaicon.png" width="20px" height="20px"/></a>
      <a class="glyphicon glyphicon-search navbar-brand" id="search" style="display:none;"></a>
      <a class="navbar-brand" href="https://coronapp.site/">CORONAPP</a> <span class="navbar-brand" id="DEVMODE">site</span>
    </div>

    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li id="home"><a href="/">MAP</a></li>
        <li id="datas"><a href="/datas">DATA</a></li>
        <li id="about"><a href="/about">ABOUT</a></li>
      </ul>
    </div>

  </div> 

</nav>

<div id="searchbar" class="input-group input-group-multi" style="display:none;">
  <div class="input-group-addon">
    <span class="glyphicon glyphicon-remove" id="search2"></span>
    <select class="btn btn-default dropdown-toggle" id="searchoption">
      <option value="place">장소</option>
      <option value="person" selected>확진자</option>
    </select>
  </div>
  <div>
    <input type="text" placeholder="31, 부산1, 사망2, ..." id="keyword" class="form-control"> 
  </div>
</div>
 <div id="searchhint" style="display:none;"></div>