<!DOCTYPE html>
<html lang="en">
<head>
 <% include partials/head %> 
</head>
<body>
<% include partials/menu %>
<div class="container-fluid bg-3 text-center"> 

  <div class="row">

    <div class="col-sm-5">
      <h3>Notice</h3><hr>
      <p>감염증이 의심될 때 <br><a href="tel:1339"><button class="btn btn-warning"><h1><span class="glyphicon glyphicon-phone-alt"></span>&nbsp;1339</h1></button></a></p>
      <a id="showPamplet" href="#pamplet"><h4>올바른 손씻기 방법</h4></a><img src="./img/올바른손씻기.jpg" id="pamplet" style="display:none;">
    </div><br>

    <div class="col-sm-5"> 
      <h3>Info</h3><hr>
      <p><a href="http://www.cdc.go.kr/index.es?sid=a2">질병관리본부 신종 코로나</a></p>
      <p><a href="http://www.xn--now-po7lf48dlsm0ya109f.kr/infect/occurrence_list.do">해외감염병NOW</a></p>
      <p><a href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019/situation-reports">[해외] WHO 2019-nCoV Reports</a></p>
      <p><a href="https://gisanddata.maps.arcgis.com/apps/opsdashboard/index.html#/bda7594740fd40299423467b48e9ecf6">[해외] 2019-nCoV Global Cases</a></p><br>
    </div>

    <div class="col-sm-5"> 
      <h3>Data</h3><hr>
      <a href="./file/corona.csv"><button type="button" class="btn btn-info"><span class="glyphicon glyphicon-download-alt"></span>&nbsp; corona.csv</button> </a><br>
      <a href="./file/people.csv"><button type="button" class="btn btn-info"><span class="glyphicon glyphicon-download-alt"></span>&nbsp; people.csv</button> </a><br>
      <a href="./file/position.csv"><button type="button" class="btn btn-info"><span class="glyphicon glyphicon-download-alt"></span>&nbsp; position.csv</button> </a><br>
      <a href="mailto:soorichu@gmail.com"><button type="button" class="btn btn-warning"><span class="glyphicon glyphicon-send"></span>&nbsp; 오류 신고 및 피드백</button></a><br><br>
    </div>

    <div class="col-sm-5"> 
      <h3>Thanks!</h3><hr>
      <p>TEMPLATE : <a href="https://github.com/bhanushalimahesh3/node-website">NodeJS Website</a></p>
      <p>MAP : <a href="http://apis.map.kakao.com/">Kakao Maps API</a></p>
      <p>GRAPH : <a href="https://plot.ly/">Plotly</a></p>
      <p>SERVER : <a href="https://heroku.com">Heroku</a></p><br>
    </div>

    <div class="col-sm-5">
      <h3>About Me</h3><hr>
      <p> Domain : <a href="https://coronapp.site">https://coronapp.site </a></p>
      <p> Github : <a href="https://github.com/soorichu/coronako">https://github.com/soorichu/coronako</a></p>
      <p style="text-align:left;"> 직장인 신분이라 빠른 업데이트가 어렵습니다. 이 점 넓은 양해 부탁드립니다. <a href="mailto:soorichu@gmail.com">피드백</a>을 주실 경우 반드시 자료의 출처를 밝혀주시기 바랍니다. </p>
      <p style="text-align:left;"> 확진자 동선 정보는 <a href="http://www.cdc.go.kr/index.es?sid=a2">질병관리본부</a>, 전세계 확진자 수는 <a href="http://www.xn--now-po7lf48dlsm0ya109f.kr/infect/occurrence_list.do">해외감염병NOW</a>의 데이터 입니다. <br>질병관리본부와 해외감염병NOW의 업데이트 일시가 조금 다르기 때문에 데이터에 다소 차이가 있습니다. <br>실시간으로 정확한 데이터를 원하신다면 <a href="https://gisanddata.maps.arcgis.com/apps/opsdashboard/index.html#/bda7594740fd40299423467b48e9ecf6">해외 사이트</a>를 참고해주세요.</p>
      <p style="text-align:left;"> 업체의 피해가 우려되어 확진자의 동선 중 병원과 공공기관을 제외한 구체적인 명칭을 삭제하였습니다. 코로나19 바이러스는 확진자의 비말로 전파되기 때문에 확진자가 다녀간 장소에 의해 감염되거나 하지 않습니다. 확진자 동선은 해당 날짜와 시간에 확진자의 동선에 본인이 있었는지의 여부를 체크하는 데에만 사용하시기 바랍니다.(만약 그런데 증상이 나타난다면 즉시 1339로 연락하세요.)</p>
      <p> 코로나19를 이겨내는 가장 좋은 방법은 개인의 위생과 서로에 대한 배려가 아닐까 싶습니다. 모두 잘 이겨내보아요. :)</p>
      <br>
    </div>

  </div>

</div>
<% include partials/foot %>
</body>
<% include partials/script %>
<script>

  $(function(){

    $("#logo").css("display", "inline");
    $("#search").hide();

    $("#showPamplet").click(function(){
      $("#pamplet").toggle();
    });

    $("#pamplet").click(function(){
      $("#pamplet").toggle();
    })
      /*
    }
    var date = new Date();
    var year = date.getFullYear();
    var month = ("0"+(date.getMonth()+1)).slice(-2);
    var day = ("0"+(date.getDate()-1)).slice(-2);

    var text = "http://dj.kbs.co.kr/resources/"+year+"-"+month+"-"+day+"/#";
    $("#kbsdb").attr("href", text);
      */
  });

</script>
</html>