<!DOCTYPE html>
<html lang="en">
<head>
 <% include partials/head %> 
</head>
<body>
<% include partials/menu %>
<div class="container-fluid bg-3 text-center"> 

  <div class="row">

    <div>
      <h3>Notice</h3><hr>
      <p>감염증이 의심될 때 <br><a href="tel:1339"><button class="btn btn-warning"><h1><span class="glyphicon glyphicon-phone-alt"></span>&nbsp;1339</h1></button></a></p>
      <a id="showPamplet" href="#pamplet"><h4>올바른 손씻기 방법</h4></a><img src="./img/올바른손씻기.jpg" id="pamplet" style="display:none;">
    </div><br>
  </div>
  <div class="row">

    <div class="ccol-xm-12 col-sm-8 col-md-6 col-lg-4"> 
      <h3>Info</h3><hr>
      <p><a href="http://www.cdc.go.kr/index.es?sid=a2">질병관리본부 신종 코로나</a></p>
      <p><a href="http://www.xn--now-po7lf48dlsm0ya109f.kr/infect/occurrence_list.do">해외감염병NOW</a></p>
      <p><a href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019/situation-reports">[해외] WHO 2019-nCoV Reports</a></p>
      <p><a href="https://gisanddata.maps.arcgis.com/apps/opsdashboard/index.html#/bda7594740fd40299423467b48e9ecf6">[해외] 2019-nCoV Global Cases</a></p><br>
    </div>

    <div class="col-xm-12 col-sm-8 col-md-6 col-lg-4"> 
      <h3>Data</h3><hr>
      <a href="./file/corona.csv"><button type="button" class="btn btn-info"><span class="glyphicon glyphicon-download-alt"></span>&nbsp; corona.csv</button> </a><br>
      <a href="./file/people.csv"><button type="button" class="btn btn-info"><span class="glyphicon glyphicon-download-alt"></span>&nbsp; people.csv</button> </a><br>
      <a href="./file/position.csv"><button type="button" class="btn btn-info"><span class="glyphicon glyphicon-download-alt"></span>&nbsp; position.csv</button> </a><br>
      <a href="mailto:soorichu@gmail.com"><button type="button" class="btn btn-warning"><span class="glyphicon glyphicon-send"></span>&nbsp; 오류 신고 및 피드백</button></a><br><br>
    </div>

    <div class="col-xm-12 col-sm-8 col-md-6 col-lg-4"> 
      <h3>Thanks!</h3><hr>
      <p>MAP : <a href="http://apis.map.kakao.com/">Kakao Maps API</a></p>
      <p>GRAPH : <a href="https://plot.ly/">Plotly</a></p>
      <p>SERVER : <a href="https://heroku.com">Heroku</a></p><br>
    </div>

  </div>
  <div class="row">
    <div class="col-xm-12 col-sm-8 col-md-6 col-lg-4"> 
      <h3>업데이트 일시에 대하여..</h3><hr>
      <p style="text-align:left;">MAP의 동선 데이터는 2020.02.19. 이후 질본에서 더 이상 정리해주지 않아 지자체나 뉴스를 통해 구해야 해서 어려움이 많습니다. 무엇보다 증가하는 속도가 빠른 만큼 업데이트를 따라잡지 못하는 것 같습니다. 양해 부탁드립니다. 동선 및 정보에 대한 <a href="mailto:soorichu@gmail.com">피드백</a>은 언제나 환영합니다.</p>
      <p style="text-align:left;"> DATA는 한국 질본의 데이터와 전세계 해외의 데이터로 나뉩니다. 한국의 데이터는 2.25.부로 질병관리본부에서 실시간으로 크롤링한 데이터 입니다. 원본 데이터가 달라질 경우 오류가 발생할 수 있습니다. 기다려 주시거나 알려 주시면 되도록 빨리 수정하겠습니다. 전세계 데이터는 통계를 위한 데이터로 해외감염병NOW의 9시 기준 데이터, 한국의 데이터는 질본 9시 기준입니다. 해외 데이터는 통계를 위한 것으로 일관성 유지를 위해 실시간 데이터를 제공하지 않습니다. 실시간으로 정확한 데이터를 원하신다면 <a href="https://gisanddata.maps.arcgis.com/apps/opsdashboard/index.html#/bda7594740fd40299423467b48e9ecf6">해외 사이트</a>를 참고해주세요.</p>
    </div>
    <div class="col-xm-12 col-sm-8 col-md-6 col-lg-4">
      <h3>동선 데이터에 대하여..</h3><hr>
      <p style="text-align:left;"> 업체의 피해가 우려되어 확진자의 동선 중 병원과 공공기관을 제외한 구체적인 명칭을 삭제하였습니다. 코로나19 바이러스는 확진자의 비말로 전파되기 때문에 확진자가 다녀간 장소에 의해 감염되거나 하지 않습니다. </p>
      <p style="text-align:left;">
      확진자 동선은 해당 날짜와 시간에 확진자의 동선에 본인이 있었는지의 여부를 체크하는 데에만 사용하시기 바랍니다.(만약 그런데 증상이 나타난다면 즉시 1339로 연락하세요.)</p>
      <p style="text-align:left;">현재 대구 및 경북 지역은 업데이트를 못하고 있습니다. 동선은 감염 초기의 지역사회에 유효한 것이기 때문에 지금은 감염 확산 초기의 지역 동선을 업데이트 하는데 최선을 다하고 있으니 양해 부탁드립니다. 현재 지역마다 새로 올라오는 확진자는 '인천1', '부산2', '경남1', '사망3'과 같이 지역명에 번호를 붙였습니다. 확진자 검색 시 참고 바라며 잘못된 부분이 있으면 반드시 알려주시고 누락된 부분이 있다면 언제나 <a href="mailto:soorichu@gmail.com">soorichu@gmail.com</a>으로 알려주시기 바랍니다.</p>
      <p style="text-align:left;"> 코로나로 고생 중이 대구와 경북 지역에 응원과 격려를 보냅니다!</p>
      <br>
    </div>

    <div class="col-xm-12 col-sm-8 col-md-6 col-lg-4"> 
      <h3>기타..</h3><hr>
      <p style="text-align:left;">소스 및 자료를 공개합니다. 별거 없는 자료들이지만 더 발전된 앱으로 기여해주신다면 더할나위 없이 좋을 것 같습니다. 힘든 시기에 개발자 분들의 재능과 힘을 보여주세요! </p>
      <p> <a href="https://github.com/soorichu/coronako">https://github.com/soorichu/coronako</a></p style="text-align:left;" style="text-align:left;">
      <p>해당 앱의 저작권은 개발자인 정수영(Chung SooYoung | soorichu@gmail.com)에 있습니다. 무단 도용 및 배포 시 저작권에 걸리 수 있습니다.</p>
      <p>Copyright All right reserved @정수영(Chung SooYoung in Republic of Korea) | soorichu@gmail.com</p>
      <p style="text-align:left;"> 코로나19를 이겨내는 가장 좋은 방법은 개인의 위생과 서로에 대한 배려가 아닐까 싶습니다. 비방과 미움보다는 배려와 격려로 한국 사회가 코비드19를 잘 이겨냈으면 하는 바람입니다. 감사합니다. :)</p><br>
    </div>


  </div>

</div>
<% include partials/foot %>
</body>
<% include partials/script %>
<script>

  $(function(){

    $("#logo").css("display", "inline");
    $("#search").hide();

    $("#showPamplet").click(function(){
      $("#pamplet").toggle();
    });

    $("#pamplet").click(function(){
      $("#pamplet").toggle();
    })
      /*
    }
    var date = new Date();
    var year = date.getFullYear();
    var month = ("0"+(date.getMonth()+1)).slice(-2);
    var day = ("0"+(date.getDate()-1)).slice(-2);

    var text = "http://dj.kbs.co.kr/resources/"+year+"-"+month+"-"+day+"/#";
    $("#kbsdb").attr("href", text);
      */
  });

</script>
</html>