<!DOCTYPE html>
<html lang="en">
<head>
 <% include partials/head %> 
</head>
<body>
  <% include partials/menu %>
    <h4 style="text-align: center;"> 코로나19 국내 현황</p>
      <p style="text-align: center; margin-top:2px; " class="criteria">질병관리본부 <span id="updatetime"></span> 기준 &nbsp;<span id="updateicon" style="border:0px; color:orange;"><span class="glyphicon glyphicon-refresh" style="border:0px;"></span></span></p>
  <div class="container-fluid bg-3 text-center"> 
    <div class="row">
      <div class="col-xs-4 col=sm-4 col-md-4 col-lg-4">
        <div class="card">
          <div class="card-header">
            감염자
          </div>
          <div class="card-body">
            <h1 class="card-text"  id="koreaInfected"></h1>
<!--             <span class="red">(<span id="koreaInfectedGap"></span> <span class="glyphicon glyphicon-circle-arrow-up"></span>)</span> -->
          </div>
        </div>
      </div>
      <div class="col-xs-4 col=sm-4 col-md-4 col-lg-4">
        <div class="card">
          <div class="card-header">
            사망자
          </div>
          <div class="card-body">
            <h1 class="card-text" id="koreaDied"></h1>
<!--             <span class="red">(<span id="koreaDiedGap"></span> <span class="glyphicon glyphicon-circle-arrow-up"></span>)</span> -->
          </div>
        </div>
      </div>
      <div class="col-xs-4 col=sm-4 col-md-4 col-lg-4">
        <div class="card">
          <div class="card-header">
            완치자
          </div>
          <div class="card-body">
            <h1 class="card-text" id="koreaRecovered" style="color:green;"></h1>
<!--             <span class="red">(<span id="koreaDiedGap"></span> <span class="glyphicon glyphicon-circle-arrow-up"></span>)</span> -->
          </div>
        </div>
      </div>
    </div>
  </div>

  <hr>
  <h4 style="text-align: center; margin-top:10px;">코로나19 <select id="nations" class="btn btn-default dropdown-toggle"></select> 추이</h4><p style="text-align: center; margin-top:2px; " class="criteria">해외감염병NOW 2020-02-25 기준</p>
  <div class="container-fluid bg-3 text-center"> 
    <div class="row">
      <div class="col-xs-6 col=sm-6 col-md-6 col-lg-6">
        <div class="card">
          <div class="card-header">
            <span class="nation">총</span> 감염자
          </div>
          <div class="card-body">
            <h1 class="card-text"  id="nationInfected"></h1>
            <span class="red criteria">(<span id="nationInfectedGap"></span> <span class="glyphicon glyphicon-circle-arrow-up"></span>)</span>
          </div>
        </div>
      </div>
      <div class="col-xs-6 col=sm-6 col-md-6 col-lg-6">
        <div class="card">
          <div class="card-header">
            <span class="nation">총</span> 사망자
          </div>
          <div class="card-body">
            <h1 class="card-text"  id="nationDied"><div class="spinner-border text-warning" role="status">
            </div></h1>
            <span class="red criteria">(<span id="nationDiedGap"></span> <span class="glyphicon glyphicon-circle-arrow-up"></span>)</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="korea" style="width:100%;"></div>
<hr>
<h4 style="text-align: center;">
<select id="viewtype" class="btn btn-default dropdown-toggle">
  <option value='equirectangular'>직사각형 세계지도로 보기</option>
  <option value='robinson'>적당히 둥근 세계지도로 보기</option>
  <option value='azimuthal equal area'>완전히 둥근 세계지도로 보기</option>
</select>
</h4>
<div id="worldView" style="width:100%;"></div>
  <!-- <h4 style="text-align: center; margin-top:10px;">
    코로나 바이러스 전세계 테이블
  </h4>
  <div id="coronaTable" class="text-center"></div> -->
  <% include partials/foot %>
</body>
<% include partials/script %>
<script>
  
  $(function(){

    function digit(num){
      return ("0" + num).slice(-2);
    }

    function getDateTime(){
      var date = new Date();
      var text = date.getFullYear() + "-" + digit(date.getMonth()+1) + "-" + digit(date.getDate()) + " "+digit(date.getHours()) + ":"+digit(date.getMinutes()) + ":" + digit(date.getSeconds());
      $("#updatetime").text(text);
    }

    function getKoreaData(){

        $.ajax({
          url:'/getKoreaData',
          methode : "GET",
          data: {data:"request"},
          dataType: 'json',
          beforeSend: function(){
            $("#updateicon").html("<span class='fa fa-refresh fa-spin' role='status'><span class='sr-only'>Loading...</span></span>");
          },
          success: function(result){
            $("#koreaInfected").text(result.result[0]);
            $("#koreaDied").text(result.result[2]);
            $("#koreaRecovered").text(result.result[1]);
            getDateTime();
          },
          error: function(){
            alert("에러! 계속 안 되면 soorichu@gmail.com 으로 알려주세요!");
          }, 
          complete: function(){
           $("#updateicon").html("<span class='glyphicon glyphicon-refresh'></span>");
          }

        });
      
    }


    getKoreaData();
    var interval = setInterval(function(){
      getKoreaData();
    }, 60000);

    $("#updateicon").click(function(){
      clearInterval(interval);
      getKoreaData();
      interval = setInterval(function(){getKoreaData();}, 60000);
    });

    $(window).resize(function(){
      sizeMake();
    });

    var width, height;
    function sizeMake(){
      width = $(window).width();
      heigth = $(window).height();

      var font_size = width/12;
      $(".row div").css("font-size", font_size/3);
      $(".card-body h1").css("font-size", font_size);
      $("h4").css("font-size", font_size/2.5);
      $("#nations").css("font-size", font_size/4);
      $("#viewtype").css("font-size", font_size/3);
      $(".criteria").css("font-size", font_size/5);

    }

    sizeMake();

    $("#logo").css("display", "inline");
    $("#search").hide();
    // $(".lastupdate").text($("#update").text());

    var date = [];
    var colsEng = [
    'Total', 'China', 'Korea',
    'HongKong', 'Taiwan', 'Macao', 'Thiland',
    'Singapore', 'Japan', 'Vietnam', 'Nepal',
    'Malaysia', 'Cambodia', 'SirLangKa', 'UAE',
    'India', 'Philippine', 'Iran', 'Lebanon', 'Israel', 'Kuwait',
    'USA', 'Canada',
    'France', 'Germany', 'Finland', 'Italy',
    'UK', 'Russia', 'Sweden', 'Spain', 
    'Belgium', 'Australia', 'Egypt'
    ];
    var colsKor = [
    '전세계', '중국', '한국',
    '홍콩', '태국', '마카오', '대만',
    '싱가포르', '일본', '베트남', '네팔',
    '말레이시아', '캄보디아', '스리랑카', '아랍에미리트',
    '인도', '필리핀', '이란', '레바논', '이스라엘', '쿠웨이트',
    '미국', '캐나다',
    '프랑스', '독일', '핀란드', '이탈리아',
    '영국', '러시아', '스웨덴', '스페인', 
    '벨기에', '호주', '이집트'
    ];

    var len = colsEng.length;
    var data = new Array(len);
    var dataDied = new Array(len);
    var dataGap;
    var latestdata = [];
    var dataWorld, layoutWorld, viewtypeWorld;

    $("#viewtype").change(function(){

      viewtypeWorld = $("#viewtype").val();

      layoutWorld = {
        width: width,
        height: height,
        // title: '코로나19 전세계 지도',
        geo: {
          projection: {
            type: viewtypeWorld
          }
        },

      };
    // console.log(dataWorld);
      Plotly.newPlot("worldView", dataWorld, layoutWorld, {showLink: true, resize: true});
    });


    Plotly.d3.csv("./file/corona.csv", function(data){ processData(data) });

    function changeGap(e, d){
      if(d==0){
        $(e).parent().removeClass().addClass("green");
        $(e).next().removeClass().addClass("glyphicon glyphicon-minus-sign");
      }else{
        $(e).parent().removeClass().addClass("red");
        $(e).next().removeClass().addClass("glyphicon glyphicon-circle-arrow-up");
      }
      $(e).text(d);
    }


    function nationData(nation){
      var index = colsEng.indexOf(nation);
      $(".nation").text(colsKor[index]);
      var len = data[index].length;
      $("#nationInfected").text(data[index][len-1]);
      $("#nationDied").text(dataDied[index][len-1]);
      // $("#nationInfectedGap").text(dataGap[nation]);
      // $("#nationDiedGap").text(dataGap[nation+"Died"]);
      changeGap("#nationInfectedGap", dataGap[nation]);
      changeGap("#nationDiedGap", dataGap[nation+"Died"]);
      var trace = [{
        type : 'bar',
        x : date,
        y : data[index],
        name : colsKor[index] +" 감염자수"
      },
      {
        type : 'bar',
        x : date,
        y : dataDied[index],
        name : colsKor[index] +" 사망자수"
      }];

      var layout = { 
        title : colsKor[index] +" 감염자 및 사망자 그래프", 
        height: height,
        width: width,
        showlegend: false
      };

      Plotly.newPlot("korea", trace, layout);
    }


    function processData(allRows){

      var lastindex = allRows.length-1;
      var options = "";
      var traceAll = [];


      // var tables = "<thead><tr><th>날짜</th>";

      // for(var i=0; i<colsEng.length;i++){
      //   // tables += "<th>"+colsKor[i]+"</th>";
      // }

      // tables += "</tr></thead><tbody>";
      for (var i=0; i<=lastindex; i++){
        if(i == lastindex) {
          dataGap = row; 
        }
        row = allRows[i];
        date.push(row['Date']); 
        // tables += "<tr><th>"+ row['Date'] +"</th>";
        for(var j=0; j<len;j++){
          if(data[j] == null){ data[j] = []; dataDied[j] = [];}
          data[j].push(row[colsEng[j]]);  //j번째 국가의 감염자수의 i번째 데이터
          if(i==lastindex) latestdata.push(row[colsEng[j]]);
          dataDied[j].push(row[colsEng[j]+"Died"]);  //j번째 국가의 사망자수의 i번째 데이터
          // tables += "<td>"+ row[colsEng[j]] + "</td>";
          if(i == lastindex) {
            dataGap[colsEng[j]] = row[colsEng[j]] - dataGap[colsEng[j]];
            dataGap[colsEng[j]+"Died"] = row[colsEng[j]+"Died"] - dataGap[colsEng[j]+"Died"];
          }
        }
        // tables += "</tr>";
        latestdata = latestdata.slice(1, len);
        // console.log(latestdata);

      }


      // $("#totalDied").text(row['TotalDied']);
      // $("#totalInfected").text(row['Total']);
      $("#nationDied").text(row['TotalDied']);
      $("#nationInfected").text(row['Total']);
      // $("#totalDiedGap").text(dataGap['TotalDied']);
      // $("#totalInfectedGap").text(dataGap['Total']);
      // $("#nationDiedGap").text(dataGap['KoreaDied']);
      // $("#nationInfectedGap").text(dataGap['Korea']);

      // changeGap("#totalDiedGap", dataGap['TotalDied']);
      // changeGap("#totalInfectedGap", dataGap['Total']);
      changeGap("#nationDiedGap", dataGap['TotalDied']);
      changeGap("#nationInfectedGap", dataGap['Total']);


      // console.log(dataGap);

      // for(var j=0; j<len; j++){
      //   latestdata.push({"num": j, "name": colsKor[j], 
      //     "infected": Number(data[j][lastindex]), 
      //     "died": Number(dataDied[j][lastindex])});
      // }

      // latestdata.sort(function(a, b){
      //   return a["infected"] > b["infected"] ? -1: a["infected"] < b["infected"] ? 1:0;
      // });

      // var tables = "<table class='table table-striped'><thead><tr><th>국가</th><th>감염자수</th></tr></thead><tbody>";

      for(var i=0; i<len; i++){
        if(colsEng[i]==='Total'){
          options += "<option value='"+colsEng[i]+"' selected>"+colsKor[i]+"</option>";
        }
        else{
          options += "<option value='"+colsEng[i]+"'>"+colsKor[i]+"</option>";
        }
        // traceAll.push({
        //   x : date, 
        //   y : data[latestdata[i]["num"]],
        //   name : latestdata[i]["name"] + "("+latestdata[i]["infected"]+")"
        // });


        // tables += "<tr><th>"+ latestdata[i].name+"</th><td>"+latestdata[i].infected+"</td></tr>";
      }

      // tables += "</tbody></table>";

      $("#nations").html(options);

      // Plotly.newPlot("world", traceAll, {title:'전세계 감염자 그래프', height: height, width: width,showlegend: false});

      nationData('Total');
      $("#nations").change(function(){
        nationData($(this).val());
      });

          // Plotly.d3.csv('./file/coronalatest.csv', function(err, rows){
    //   function unpack(rows, key) {
    //     return rows.map(function(row) { 
    //       if(key=='Data')
    //         return Number(row[key]);
    //       else
    //         return  row[key];
    //     });
    //   }


    var colorbar = [];
    var datasorted = Array.from(new Set(latestdata));
    datasorted.sort(function(a, b){
      return a-b;
    });
    var distcolor = Math.floor(255/datasorted.length);
    var maxdata = datasorted[datasorted.length-1];
    for(var i = 0; i<datasorted.length-3; i++){
      var rgb = 255-distcolor*(i);
      // rgb = Math.exp(rgb);
      colorbar.push([Math.floor(datasorted[i]/maxdata*50000)/50000, "rgb("+(255)+", "+(rgb)+", "+(rgb)+")"]);
    }

    colorbar.push([1, "rgb(255, 0, 0)"]);

    // console.log(colorbar);
    dataWorld = [{
      type: 'choropleth',
      locationmode: 'country names',
      locations: colsEng.slice(1, len),
      z: latestdata,
      text: colsKor.slice(1, len),
        // autocolorscale: true,
        zmin:0,
        zmax: maxdata,
        showscale: false, 
        colorscale: colorbar,
      }];

      width = $(window).width(); 
      height = $(window).height();

      if(width < height) {
        viewtypeWorld = 'azimuthal equal area';
      }else if(width<786){
        viewtypeWorld = 'equirectangular';
      }else{
        viewtypeWorld = 'robinson';
      }

      $("#viewtype").val(viewtypeWorld);

      layoutWorld = {
        width: width,
        height: height,
        // title: '코로나19 전세계 지도',
        geo: {
          projection: {
            type: viewtypeWorld
          }
        },

      };
    // console.log(dataWorld);
    Plotly.newPlot("worldView", dataWorld, layoutWorld, {showLink: true, resize: true});
  // });

    }

  });
</script>
</html>