<!DOCTYPE html>
<html lang="en">
<head>
 <% include partials/head %> 
</head>
<body>
<% include partials/menu %>
<div class="container-fluid bg-3 text-center">    
  <div class="row">
    <div class="col-sm-6">
      <button class="btn" onclick="peopleCSV2JSON()">peopleCSV2JSON()</button>
      <input id="people" type="text" class="form-control">
    </div>
    <div class="col-sm-6">
      <button class="btn" onclick="positionCSV2JSON()">positionCSV2JSON()</button>
      <input id="position" type="text" class="form-control"></inpu>
   </div>
    <div class="col-sm-6">
      <button class="btn" onclick="coronaCSV2JSON()">coronaCSV2JSON()</button>
      <input id="corona" type="text" class="form-control"></inpu>
   </div>
   <div class="col-sm-6">
    <br><br>
      <input type="text" id="point1" value="37.536564, 126.636473" class="form-control">
      <input type="text" id="point2" value="37.518566, 126.673022" class="form-control">
      <button class="btn" onclick="gps2Distance()">gps2Distance()</button>
      <h4 id="distance"></h4>
   </div>
  </div>
</div>

<div class="row">
  <button onclick="positionJSON2DB()" class="btn btn-default">positionJSON2DB()</button>
</div>
<div class="row">
  <textarea class="form-control" id="query"></textarea>
  <button onclick="getQuery()" class="btn btn-primary">쿼리</button>
  <div style="width:100%;" id="query_result"></div>
</div>

<% include partials/foot %>

</body>
<% include partials/script %>
<script>
  $("#logo").css("display", "inline");
  $("#search").hide();

  $("#query").css("height", $(window).height()*0.3);

  function positionJSON2DB(){
    $.ajax({
      url:'/positionJSON2DB',
      methode:"POST",
      data : {data: "position request"},
      dataType : 'text',
      beforeSend: function(){
        console.log("position query send...");
      },
      success: function(result){
        console.log("position json to db success..");
      },
      error: function(){
        console.log("position query err..");
      }, 
      complete: function(){
        console.log("position to db complete...")
      }

    });
  }

  function getQuery(){

    $.ajax({
      url:'/query',
      methode : "GET",
      data: {data: $("#query").val()},
      dataType: 'text',
      beforeSend: function(){
        console.log($("#query").val() +" send..");
      },
      success: function(){
        console.log("query success");
      },
      error: function(){
        console.log("query err");
      }, 
      complete: function(result){
        $("#query_result").text(result);
     }

   });

  }
  function gps2Distance(){

    var point1 = $("#point1").val().split(","); 
    var lat1 = Number(point1[0]), lng1 = Number(point1[1]);
    var point2 = $("#point2").val().split(","); 
    var lat2 = Number(point2[0]), lng2 = Number(point2[1]);

    var distLat = 69.1 *(lat2 - lat1);
    var distLng = 53 * (lng2 - lng1);
    var distance = Math.sqrt(distLat*distLat + distLng*distLng);
    console.log(distLat, distLng, distance);

    $("#distance").text(distance*1.609 +" km"); 

  }

  function processData(csv){

    var lines=csv.split("\n");
    var result = [];
    var headers=lines[0].split(",");

    for(var i=1;i<lines.length;i++){

      var obj = {};
      var currentline = lines[i].split(",");

      for(var j=0;j<headers.length;j++){ 
        obj[headers[j]] = currentline[j];
      }   
     
      result.push(obj);
    }
    return JSON.stringify(result);
  }


//CSV 2 JSON
  function peopleCSV2JSON(){
    readCSVFile("people");
  }

  function positionCSV2JSON(){
    readCSVFile("position");
  }

  function readCSVFile(type)
  {
    var rawFile = new XMLHttpRequest();
    rawFile.open("GET", "./file/"+type+".csv", false);
    rawFile.onreadystatechange = function ()
    {
        if(rawFile.readyState === 4)
        {
            if(rawFile.status === 200 || rawFile.status == 0)
            {
                var allText = rawFile.responseText;
                var txt = processData(allText);
                if(type=="people"){
                  txt = '{"people":'+txt+'}';
                }else{
                  txt = '{"positions":'+txt+'}';
                }
                $("#"+type).val(txt);
                $("#"+type).select();
                document.execCommand("copy");
                alert(type+" 카피 완료");
            }
        }
    }
    rawFile.send(null);
  }
  

</script>
</html>